:root {
    --nav-height: 60px;
}

* {
    /* position: relative; */
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    position: relative;

    margin: 0;
}

.background {
    z-index: -1;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-image: var(--frutiger-bg);
    background-size: cover;
    background-position: center;
}

main {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;

    margin: 20px;

    height: fit-content;
    min-height: calc(100vh - var(--nav-height) - 40px);
}

/* #region Error Page */

main:has(.error-details) {
    align-items: center;

    margin: 0;
    height: 100%;
}

main .error-details {
    display: flex;
    flex-direction: row;

    padding: 30px;

    max-width: 800px;
    height: fit-content;

    text-shadow: 0px 1px 5px black;
}

main .error-details * {
    position: relative;
}

main .error-details .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

main .error-details .text h1 {
    margin: 0;

    font-size: 30px;
    font-weight: 900;
}

main .error-details .text a {
    padding: 4px 12px 8px 12px;

    background: var(--frutiger-tile-grad);
    outline: var(--frutiger-outline);
    border-radius: 100px;
    
    user-select: none;
    cursor: pointer;
}

main .error-details img {
    margin-top: -28px;
}

/* #endregion */

/* #region Login Menu */
main:has(.login) {
    align-items: center;

    margin: 0;
    height: 100%;
}

main .login {
    display: block;

    min-width: 400px;
    height: fit-content;
}

main .login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    padding: 20px;
}

main .login * {
    position: relative;
}

/* Inputs */
main .login label {
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-shadow: 0px 1px 5px black;
}

main .login label span {
    width: 135px;

    font-size: 25px;
}

main .login label input {
    padding: 2px 8px 5px 8px;

    /* color: black; */
    font-size: 25px;
    text-shadow: 0px 1px 3px black;
}

/* Login button */
main .login .login-button {
    display: block;

    width: fit-content;

    margin-top: 5px;
    padding: 2px 12px 8px 12px;

    border-radius: 100px;

    font-size: 25px;
    text-shadow: 0px 2px 4px black;

    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.3),
                inset 0px 2px 1px rgba(255, 255, 255, 0.25),
                inset 0px -2px 1px rgba(0, 0, 0, 0.2);

    cursor: pointer;
}

/* Errors and messages */
main .login p {
    margin: 0;

    color: rgb(255, 164, 164);
    text-shadow: 0px 1px 5px black;
}

/* #endregion */

/* #region Navigation Bar */
nav {
    z-index: 10;

    position: sticky !important;
    top: 0;

    width: 100%;
    height: var(--nav-height);

    border-radius: 0 !important;
}

nav .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    position: relative;

    margin: 0 auto;

    width: 100%;   
    max-width: 1200px;
    height: 100%;
}

/* User button */
nav .user {
    display: block;

    padding: 2px 8px 8px 8px;

    background: linear-gradient(rgb(216, 154, 38) 50%, rgba(238, 220, 55, 1));

    text-shadow: 0px 1px 5px black;
    text-decoration: none;

    cursor: pointer;
    user-select: none;
}

nav .user span {
    font-weight: 900;
}

/* Logout button */
nav .logout {
    height: 100%;

    margin: 0;
    padding: 2px;

    width: 45px;
    height: 45px;

    background-color: transparent;
    background: linear-gradient(rgb(88, 12, 22) 50%, rgb(219, 25, 11));
    /* background: linear-gradient(rgb(179, 36, 25), rgb(88, 12, 22), rgb(216, 39, 26)); */
    outline: 1px solid rgba(128, 28, 21, 0.2);

    border: none;
    border-radius: 100%;

    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);

    cursor: pointer;
    user-select: none;
}

nav .logout img {
    position: initial;
    width: 100%;
    height: 100%;
}

.logout:has(#chris_blue) {
    padding: 0 !important
}

#chris_blue {
    /* width: 96px;
    height: 96px; */

    animation: rainbow 2s linear infinite;
}

/* Theme select */
nav .theme select {
    color: black !important;
}

nav .theme select option {
    color: black;
}

/* #endregion */

/* #region User Page */

main:has(.user-title) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.user-title {
    padding: 6px 20px 12px 20px;

    width: fit-content;
    min-width: 550px;
    height: fit-content;

    border-radius: 100px;

    font-size: 55px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 1px 5px black;
}

.user-title span {
    font-size: 55px;
    font-weight: 900;
}

.user-options {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */

    padding: 30px;

    width: min-content;
    max-width: 800px;
}

.user-options a {
    display: block;

    width: max-content;

    padding: 4px 12px 8px 12px;

    font-size: 40px;
    text-shadow: 0px 1px 5px black;
    text-decoration: none;

    cursor: pointer;
    user-select: none;
}

/* #endregion */

/* #region Dashboard */

.dashboard {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    position: relative;

    width: fit-content;
    max-width: 100%;;
    height: fit-content;

    padding: 30px;

    user-select: none;
}

/* Charts */
.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    min-width: 200px;
    min-height: 200px;

    padding: 20px;
}

.chart-container h1 {
    position: relative;

    width: 400px;

    margin: 0px 0px 20px 0px;

    font-size: 30px;
    font-weight: 900;
    text-align: center;
    text-shadow: 0px 1px 5px black;

    user-select: none;
}

.chart-container h2,
.chart-container h2 span {
    position: relative;

    width: 400px;

    margin: 5px 0 0 0;

    font-size: 26px;
    font-weight: 800;
    text-align: center;
    text-shadow: 0px 1px 5px black;

    user-select: none;
}

.chart-container h2 span.value {
    font-size: 24px;
    font-weight: 700;
}

/* Pie chart */
.chart-container .pie-chart-container {
    position: relative;
}

.chart-container .pie-chart {
    position: relative;

    /* left: 150px; */

    width: 300px;
    height: 300px;

    margin: 0 auto;

    aspect-ratio: 1;

    background-color: transparent;
    outline: none;
    border-radius: 0;

    overflow: visible;

    /* filter: drop-shadow(0px 5px 0px black)
            drop-shadow(0px -5px 0px black)
            drop-shadow(5px 0px 0px black)
            drop-shadow(-5px 0px 0px black); */
}

.chart-container .pie-chart.shadow {
    z-index: -1;
    position: absolute;
    /* left: 10px; */
    left: 0;
}

.chart-container .pie-chart circle {
    cursor: pointer;

    transition: all .2s ease;
}


/* Hide section if another has been selected */
.chart-container .pie-chart circle:not([data-selected='true']):has(~ circle[data-selected='true']),
.chart-container .pie-chart circle[data-selected='true'] ~ circle:not([data-selected='true']) {
    opacity: 20%;
}

.chart-container .pie-chart circle:not([data-selected='true']):has(~ circle[data-selected='true']):hover,
.chart-container .pie-chart circle[data-selected='true'] ~ circle:not([data-selected='true']):hover {
    opacity: 80%;
}


/* Tooltip */
.chart-tooltip {
    z-index: 5;

    position: absolute !important;

    width: fit-content;
    height: fit-content;

    padding: 5px;
    
    text-shadow: 0px 1px 5px black;

    user-select: none;
}

.chart-tooltip h1 {
    margin: -5px 0 0 0;

    font-size: 24px;
}

.chart-tooltip p {
    margin: 0;

    font-weight: 600;
}


/* #endregion */



@keyframes rainbow {
    0% {
        filter: hue-rotate(0deg)
    }
    100% {
        filter: hue-rotate(360deg)
    }
}

.charts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: fit-content;
    height: fit-content;
}

.stats {
    width: 300px;
    height: fit-content;

    padding: 5px 0 10px 0;
}

.stats h1 {
    width: 100%;

    margin: 0;

    text-align: center;
    font-size: 24px;
    font-weight: 900;

    text-shadow: 0px 2px 5px black;
}

.stats h1 span {
    font-size: 24px;
    font-weight: bold;
}

.stats select {
    color: black;
    text-align: center;
}

.stats select option {
    color: black;
    text-align: center;
}

/* .pie-chart {
    width: 300px;
    height: 300px;
} */

/* #region Pagination */
.pagination {
    flex: 1;
    display: flex;

    position: relative;

    margin: 0 auto;

    /* width: 100%; */
    width: fit-content;
    max-height: 70px;

    padding: 20px;
}

.pagination h1 {
    flex: 0;

    margin: 0 30px;

    min-width: max-content;
    width: fit-content;


    text-align: center;
    font-size: 24px;
    font-weight: 900;

    text-shadow: 0px 2px 5px black;
}

.pagination h1 span.num {
    margin: 0 4px;

    font-size: 24px;
    font-weight: bold;
}

.pagination h1 span.page {
    display: block;
}

.pagination .pagination-button {
    position: relative;

    flex: 1;

    display: flex;
    align-items: center;
}

.pagination .pagination-button button {
    padding: 5px 20px 8px 20px;

    width: min-content;

    background: var(--frutiger-button-grad);
    outline: var(--frutiger-outline);
    border-radius: 100px;

    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);;

    text-shadow: 0px 1px 4px black;
    text-align: center;
    text-decoration: none;

    cursor: pointer;
    user-select: none;
}

.pagination .pagination-button button:disabled {
    background: linear-gradient(rgba(114, 114, 114, 0.6), rgba(59, 59, 59, 0.6), rgba(122, 122, 122, 0.5));

    opacity: 50%;

    cursor: not-allowed;
}


/* #endregion */

/*#region Table */
.table {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.table .stats {
    width: 100%;
}

table {
    position: relative;
    /* border: 1px solid black; */

    border-collapse: collapse;
}

th,
td {
    position: relative;

    padding: 2px 10px 8px 10px;

    text-shadow: 0px 1px 4px black;

    /* border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px; */
}

th {
    font-size: 24px;
    font-weight: 900;

    text-shadow: 0px 2px 4px black;

    text-align: left;
}

tr {
    position: relative;
}

tr:has(th) {
    background-color: rgba(255, 255, 255, 0.5);

    box-shadow: 0px 2px 6px rgba(255, 255, 255, 0.5);
}

tr:not(:has(th)):hover {
    background-color: rgba(255, 255, 255, 0.2);

    box-shadow: 0px 1px 6px rgba(255, 255, 255, 0.2),
                0px -1px 6px rgba(255, 255, 255, 0.2);
}

/* Cell borders */
tr:not(:has(th)) td:not(:first-child) {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    /* box-shadow: -2px 0px 2px inset rgba(255, 255, 255, 0.5); */

    /* overflow: visible; */
}

/* Odd and even backgrounds */
tr:nth-child(2n) {
    background-color: rgba(255, 255, 255, 0.1);

    box-shadow: 0px 1px 6px rgba(255, 255, 255, 0.1),
                0px -1px 6px rgba(255, 255, 255, 0.1);
}

tr:nth-child(2n):hover {
    background-color: rgba(255, 255, 255, 0.3);

    box-shadow: 0px 1px 6px rgba(255, 255, 255, 0.3),
                0px -1px 6px rgba(255, 255, 255, 0.3);
}

tr:nth-child(n) td {
    padding-top: 6px;
    padding-bottom: 12px;
}

.rarity span {
    display: block;

    margin: 0 auto;
    padding: 0px 6px 6px 6px;

    width: fit-content;

    border-radius: 100px;

    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);

    user-select: none;
}

/* Admin actions */
.admin-actions {
    /* display: flex;
    justify-content: center;
    align-items: center;

    height: 100%; */

    user-select: none;
}

.admin-actions form {
    display: none;
}

.admin-actions button {
    width: 24px;
    height: 24px;
    aspect-ratio: 1;

    margin: 0;
    padding: 0;

    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;

    border: none;

    color: transparent;

    cursor: pointer;
}

/* Editing */
td.edit-input {
    display: table-cell;

    /* width: fit-content; */
}

td.edit-input input {
    position: relative;

    /* display: block; */

    width: 90%;

    color: black;
}

td.edit-input select {
    color: black;
}

/* Confirmation popup */
body:has(.confirmation-popup:not(.hidden)) {
    overflow: hidden;
}

.confirmation-popup {
    z-index: 11;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: var(--popup-bg);
}

.confirmation-popup .popup-box {
    display: block;

    max-width: 800px;
    width: fit-content;
    height: fit-content;

    padding: 5px 35px 25px 35px;

    text-shadow: 0px 1px 4px black;
}

.confirmation-popup .popup-box * {
    position: relative;
}

.confirmation-popup .popup-box .question {
    width: fit-content;

    margin: 0 auto;

    font-size: 50px;
}

.confirmation-popup .popup-box .message {
    width: fit-content;

    margin: 10px auto 20px auto;

    text-align: center;
    font-size: 28px;
}

.confirmation-popup .popup-box .buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;
    
    width: 100%;
}

.confirmation-popup .popup-box .buttons button {
    padding: 2px 10px 8px 10px;

    border-radius: 100px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);

    font-size: 30px;
    text-shadow: 0px 1px 4px black;

    cursor: pointer;
    user-select: none;
}

.hidden {
    display: none !important;
}

button.continue {
    background-color: transparent;
    background: linear-gradient(rgb(18, 143, 45) 50%, rgb(108, 228, 52));
    outline: 1px solid rgba(21, 128, 69, 0.2);
}

button.cancel {
    background-color: transparent;
    background: linear-gradient(rgb(143, 18, 35) 50%, rgb(224, 57, 45));
    outline: 1px solid rgba(128, 28, 21, 0.2);
}

/* #endregion */


button,
a {
    margin: 0;
    padding: 0;
}

.filters {
    /* display: flex; */

    position: relative;

    width: fit-content;
    height: fit-content;
}

.filters h1 {
    position: relative;

    /* width: 100%; */

    padding: 0px 15px 6px 15px;
    margin: 0 0 10px 0;

    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 2px 6px rgba(255, 255, 255, 0.5);

    text-align: center;
    font-size: 24px;
    font-weight: 900;
    text-shadow: 0px 2px 5px black;

}

/* #region Table Buttons */

/* .table-buttons {

} */

.table-buttons button,
.table-buttons .buttons input {
    padding: 2px 10px 6px 10px;

    font-size: 24px;
    text-shadow: 0px 1px 5px black;

    border-radius: 100px; 
    cursor: pointer;
}

.table-buttons .hidden {
    display: none !important
}

/* Add item */
#add-item-container {
    padding: 10px;
    text-shadow: 0px 1px 5px black;
}

#add-item-container h1 {
    font-size: 24px;
    text-align: center;

    margin: 0 0 16px 0;
}

#add-item-container * {
    position: relative;
}

#add-item-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#add-item-container form input,
#add-item-container form select,
#add-item-container form textarea {

    color: black;
    /* text-shadow: 0px 1px 5px black; */
}

#add-item-container .buttons {
    user-select: none;
}

/* #endregion */

/* #region Rarity Elements */

/* Containers */
.rarity-list {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    width: 100%;

    padding: 5px 15px 15px 15px;

    box-sizing: border-box;
}

/* Buttons */
button.rarity,
a.rarity {
    flex: 0;

    width: fit-content;

    padding: 0px 6px 6px 6px;

    border-radius: 100px;

    text-shadow: 0px 1px 5px black;
    text-decoration: none;

    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);

    cursor: pointer;

    user-select: none;
}

/* Aero frutiger highlight */
button.frutiger-tile:not(:disabled):active,
a.frutiger-tile:not(.disabled):active {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

button.frutiger-tile:not(:disabled):hover::after,
a.frutiger-tile:not(.disabled):hover::after {
    pointer-events: none;

    display: block;
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}

button.frutiger-tile:not(:disabled):active::after,
a.frutiger-tile:not(.disabled):hover::after {
    background-color: rgba(0, 0, 0, 0.3);
}

button.frutiger-tile:not(:disabled):active::before,
a.frutiger-tile:not(.disabled):active::before,
button.frutiger-tile:disabled:before,
a.frutiger-tile.disabled:before {
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: none;
    background-color: rgba(0, 0, 0, 0.1);

    border-radius: 0;
}

/* Not selected */
button.rarity.not-selected {
    filter: grayscale(100%);

    opacity: 50%;
}

button.rarity.not-selected:not(:disabled):hover {
    filter: grayscale(80%);

    opacity: 60%;
}

button.rarity.not-selected:not(:disabled):active {
    filter: grayscale(50%);

    opacity: 80%;
}

/* Common */
.frutiger-tile.Common {
    background: linear-gradient(rgb(167, 167, 167) 50%, rgb(211, 211, 211));
    outline: 1px solid rgba(110, 110, 110, 0.2);
}

.frutiger-button.Common {
    background: linear-gradient(rgb(211, 211, 211), rgb(168, 168, 168), rgb(223, 223, 223));
    outline: 1px solid rgba(110, 110, 110, 0.2);
}

/* Uncommon */
.frutiger-tile.Uncommon {
    background: linear-gradient(rgb(76, 136, 68) 50%, rgb(146, 223, 95));
    outline: 1px solid rgba(21, 128, 53, 0.2);
}

.frutiger-button.Uncommon {
    background: linear-gradient(rgb(138, 199, 98), rgb(76, 136, 68), rgb(146, 223, 95));
    outline: 1px solid rgba(21, 128, 53, 0.2);
}

/* Rare */
.frutiger-tile.Rare {
    background: linear-gradient(rgb(89, 121, 158) 50%, rgb(86, 199, 233));
    outline: 1px solid rgba(21, 94, 128, 0.2);
}

.frutiger-button.Rare {
    background: linear-gradient(rgb(81, 182, 212), rgb(89, 121, 158), rgb(86, 199, 233));
    outline: 1px solid rgba(21, 94, 128, 0.2);
}

/* Epic */
.frutiger-tile.Epic {
    background: linear-gradient(rgb(99, 64, 119) 50%, rgb(187, 41, 201));
    outline: 1px solid rgba(62, 21, 128, 0.2);
}

.frutiger-button.Epic {
    background: linear-gradient(rgb(162, 39, 173), rgb(99, 64, 119), rgb(187, 41, 201));
    outline: 1px solid rgba(62, 21, 128, 0.2);
}

/* Legendary */
.frutiger-tile.Legendary {
    background: linear-gradient(rgb(170, 80, 45) 50%, rgb(247, 157, 38));
    outline: 1px solid rgba(128, 85, 21, 0.2);
}

.frutiger-button.Legendary {
    background: linear-gradient(rgb(226, 145, 38), rgb(170, 80, 45) 50%, rgb(247, 157, 38));
    outline: 1px solid rgba(128, 85, 21, 0.2);
}

/* Mythic */
.frutiger-tile.Mythic {
    background: linear-gradient(rgb(197, 153, 57) 50%, rgb(247, 213, 20));
    outline: 1px solid rgba(128, 112, 21, 0.2);
}

.frutiger-button.Mythic {
    background: linear-gradient(rgb(224, 194, 25), rgb(197, 153, 57), rgb(247, 213, 20));
    outline: 1px solid rgba(128, 112, 21, 0.2);
}

/* Exotic */
.frutiger-tile.Exotic {
    background: linear-gradient(rgb(196, 46, 103) 50%, rgb(236, 31, 31));
    outline: 1px solid rgba(128, 28, 21, 0.2);
}

.frutiger-button.Exotic {
    background: linear-gradient(rgb(223, 33, 33), rgb(196, 46, 103), rgb(236, 31, 31));
    outline: 1px solid rgba(128, 28, 21, 0.2);
}

/* Unreal */
.frutiger-tile.Unreal {
    background: linear-gradient(rgb(199, 69, 145) 50%, rgb(255, 106, 235));
    outline: 1px solid rgba(128, 21, 114, 0.2);
}

.frutiger-button.Unreal {
    background: linear-gradient(rgb(235, 103, 217), rgb(199, 69, 145), rgb(255, 106, 235));
    outline: 1px solid rgba(128, 21, 114, 0.2);
}
/* #endregion */

div {
    width: fit-content;
}

/* #region Aero Frutiger Styles */
.frutiger-tile {
    position: relative;

    background: var(--frutiger-tile-grad);

    backdrop-filter: blur(10px);

    border-radius: 10px;
    border: none;

    /* outline: 1px solid rgba(21, 128, 39, 0.2); */
    /* outline: 1px solid rgba(21, 85, 128, 0.2); */
    outline: var(--frutiger-outline);

    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3),
                inset 0px 2px 1px rgba(255, 255, 255, 0.25),
                inset 0px -2px 1px rgba(0, 0, 0, 0.2);
    
    overflow: hidden;
}

.frutiger-tile::before {
    pointer-events: none;

    display: block;
    content: "";

    position: absolute;
    left: -50%;
    top: -50%;

    width: 200%;
    height: 100%;

    background: linear-gradient(rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.04));

    border-radius: 100%;
}

.frutiger-inset-tile {
    position: relative;

    background: linear-gradient(rgba(190, 190, 190, 0.5) 0%, rgba(255, 255, 255, 0.4) 50%);

    backdrop-filter: blur(10px);

    border-radius: 10px;
    border: none;

    /* outline: 1px solid rgba(21, 128, 39, 0.2); */
    /* outline: 1px solid rgba(21, 85, 128, 0.2); */
    outline: 1px solid rgba(209, 209, 209, 0.2);

    box-shadow: 0px 2px 5px inset rgba(0, 0, 0, 0.3);/*
                inset 0px -2px 1px rgba(255, 255, 255, 0.25),
                inset 0px 2px 1px rgba(0, 0, 0, 0.2); */
    
    overflow: hidden;
}

.frutiger-menu {
    position: relative;

    background: var(--frutiger-menu-grad);
    /* background: linear-gradient(rgba(21, 128, 39, 0.7) 50%, rgba(103, 202, 21, 0.6)); */

    backdrop-filter: blur(10px);

    border-radius: 10px;

    outline: var(--frutiger-outline);

    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3),
                inset 0px 2px 1px rgba(255, 255, 255, 0.25),
                inset 0px -2px 1px rgba(0, 0, 0, 0.2);
    
    overflow: hidden;
}

.frutiger-menu::before {
    pointer-events: none;

    display: block;
    content: "";

    position: absolute;
    top: 0;

    width: 100%;
    height: 50%;

    background: linear-gradient(rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.2) 100%);

    /* border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%; */

    box-shadow: 0px 2px 2px 2px rgba(255, 255, 255, 0.2);
}

.frutiger-button {
    position: relative;

    background: linear-gradient(rgb(110, 110, 110), rgb(50, 50, 50), rgb(130, 130, 130));

    border-radius: 30px;
    border: none;

    outline: 1px solid rgba(88, 88, 88, 0.2);

    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3),
                inset 0px 2px 1px rgba(255, 255, 255, 0.25),
                inset 0px -2px 1px rgba(0, 0, 0, 0.2);

    text-shadow: 0px 1px 4px black;
    
    overflow: hidden;
}

.frutiger-button:not(:disabled):not(.disabled):hover::before {
    pointer-events: none;

    display: block;
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1));
}

.frutiger-button:not(:disabled):not(.disabled):active::before {
    pointer-events: none;

    display: block;
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3));
}

.frutiger-clear {
    background: linear-gradient(rgba(180, 180, 180, 0.2) 50%, rgba(180, 180, 180, 0.5));

    outline: none;
}

.frutiger-glossy {
    position: relative;

    background: var(--frutiger-glossy-grad);
    backdrop-filter: blur(2px);

    border: none;
    border-radius: 10px;
    /* outline: var(--frutiger-outline); */

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3),
                inset 0px 0px 12px rgba(255, 255, 255, 0.4);

    overflow: hidden;
}

.frutiger-glossy::before {
    pointer-events: none;

    display: block;
    content: "";

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background: repeating-linear-gradient(
        45deg,
        rgba(185, 185, 185, 0.2) 36px,
        rgba(255, 255, 255, 0.6) 108px,
        rgba(255, 255, 255, 0.6) 144px,
        rgba(185, 185, 185, 0.2) 180px,
        rgba(185, 185, 185, 0.2) 216px
    );
    background-repeat: repeat;

}

/* #endregion */